

/* ***********************
   graph slider
   *********************** */
.slider {
    background-color: #fff;
    box-shadow: inset 0  0px 2px     hsla(0,0%,  0%,.20),
                      0  3px 1px     hsla(0,0%,100%,.75),
                      0 -1px 1px 2px hsla(0,0%,  0%,.10);
    height: 461px;
    width: 817px;

    top: 50%;
    left: 50%;
    margin: -8em -13em;

/*
    margin-left: auto;
    margin-right: auto;
*/
    padding: .5em;
    position: absolute;
}
.slider:before {
    background-color: #22130c;
    bottom: -2.5em;
    box-shadow: inset 0 1px 1px 1px hsla(0,0%,100%,.2),
                inset 0 -2px 1px hsla(0,0%,0%,.4),
                0 5px 50px hsla(0,0%,0%,.25),
                0 20px 20px -15px hsla(0,0%,0%,.2),
                0 30px 20px -15px hsla(0,0%,0%,.15),
                0 40px 20px -15px hsla(0,0%,0%,.1);
    content: '';
    left: -2.5em;
    right: -2.5em;
    top: -2.5em;
    z-index: -1;
    position: absolute;
}
.slider:after {
    background-color: #fff5e5;
    bottom: -1.5em;
    box-shadow: 0 2px 1px hsla(0,0%,100%,.2),
                0 -1px 1px 1px hsla(0,0%,0%,.4),
                inset 0 2px 3px 1px hsla(0,0%,0%,.2),
                inset 0 4px 3px 1px hsla(0,0%,0%,.2),
                inset 0 6px 3px 1px hsla(0,0%,0%,.1);
    content: '';
    left: -1.5em;
    right: -1.5em;
    top: -1.5em;
    z-index: -1;
    position: absolute;
}
.slider li {
    box-shadow: 0 -1px 0 2px hsla(0,0%,0%,.03);
    list-style: none;
    position: absolute;
}
.slider input {
    display: none;
}
.slider label {
    background-color: #111;
    background-image: linear-gradient(transparent, hsla(0,0%,0%,.25));
    border: .2em solid transparent;
    bottom: .5em;
    border-radius: 100%;
    cursor: pointer;
    display: block;
    height: .5em;
    left: 24em;
    opacity: 0;
    position: absolute;
    transition: .25s;
    width: .5em;
    visibility: hidden;
    z-index: 10;
}
.slider label:after {
    border-radius: 100%;
    box-shadow: inset 0 0 0 .2em #111,
                inset 0 2px 2px #000,
                0 1px 1px hsla(0,0%,100%,.25);
    content: '';
    position: absolute;
    bottom: -.2em;
    left: -.2em;
    right: -.2em;
    top: -.2em;
}
.slider:hover label {
    opacity: 1;
    visibility: visible;
}
.slider input:checked + label {
    background-color: #fff;
}
.slider li:nth-child(1) label {
    left: .5em;
}
.slider li:nth-child(2) label {
    left: 2em;
}
.slider li:nth-child(3) label {
    left: 3.5em;
}
.slider li:nth-child(4) label {
    left: 5em;
}
.slider li:nth-child(5) label {
    left: 6.5em;
}
.slider img {
    height: 461px;
    width: 817px;
    transition: .25s;
    vertical-align: top;
    opacity: 0;
    visibility: hidden;
}
.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

/* ***********************
   energy table style 
   *********************** */
table.energy_table {
    border-collapse: collapse;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 700px;
}
table.energy_table th, td {
    padding: 0.25rem;
    border: 1px solid #ccc;
}
/* column text-alignment */
table.energy_table tbody td.date {
    text-align: left;
}
/* column text-alignment */
table.energy_table tbody td.energy {
    text-align: center;
}
table.energy_table tbody td.peak {
    text-align: center;
}
table.energy_table tbody td.avepower {
    text-align: center;
}
/* zebra striping of table row */
table.energy_table tbody tr:nth-child(odd) {
    background: #cccccc;
}
table.energy_table tbody tr:nth-child(even) {
    background: #ebebeb;
}
/* hover color */
table.energy_table tbody tr:hover {
    background: yellow;
}
